*{
    font-family: 'poppins', sans-serif;

}

*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'familjen Grotesk', sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
/* navigation links */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand{
    font-size: 35px;
    font-weight: bold;
    margin: 15px;
    color: orangered;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.nav-links ul{
    display: flex;
    list-style: none;
}
.nav-links li a{
    display: flex;
    text-decoration: none;
    padding: 20px;
    color: red;
    font-weight: bolder;
    font-family: 'Roboto' sans-serif;
}
.nav-links li a:hover{
    color: orange;
}
div.searchFood input[type='search']{
    border: 1px solid orange;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
div.searchFood input[type='search']:focus{
    outline-color:orangered;
}
.toggler{
    position: absolute;
    top: 0;
    right: 3%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggler .bar{
    height: 3px;
    width: 100%;
    background-color: red;
    border-radius: 10px;
}
@media(max-width:680px){
    .toggler{
        display: flex;
        top: 28px;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    div.searchFood input[type='search']{
        display: none;
    }
    div.searchFood input[type='search']:active{
        display: flex;
        margin-left: 15px;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul{
        flex-direction: column;
        width: 100%;
    }
    .nav-links.active{
        display: flex;
        animation-name: openNavbar;
        animation-duration: 3s;
    }
    @keyframes openNavbar {
        from{opacity: 0;}
        to{opacity:1;}
    }
}



/* intro-section */
.intro{
    padding: 30px 35px;
}

.intro .intro-text .dish-btns{
    margin-top: 100px;
}
.intro .intro-text h1, h2{
    font-size: 40px;
    font-family: 'poppins', sans-serif;
}

.intro .intro-text .dish-btns #btn1, #btn2{
    padding: 15px;
    border-radius: 5px;
    background-color: black;
}
.intro .intro-text .dish-btns #btn1 a, #btn2 a{
    text-decoration: none;
    color: orangered;
    font-weight: bolder;
    font-family: 'poppins', sans-serif;
}

.intro .intro-text .dish-btns #btn1:hover, #btn2:hover{
    background-color: white;
}

.intro .hero-img{
    display: none;
}

@media(min-width: 780px){
    .intro{
        display: flex;
        margin-top: 40px;
        padding: 10px 35px;
    }
    .intro .intro-text{
        padding-top: 40px;
    }
    .intro .intro-text h1, h2{
        font-size: 50px;
    }
    .intro .hero-img{
        display: block;
        margin-left: 10px;
    }
    .intro .hero-img img{
        object-fit: cover;
    }
}

/* intro-ends */

/* Categories */
#categories{
    border-top: 2px solid orangered;
    margin-top: 40px;
    padding: 20px;
}

.categories-text{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.categories-text a{
   text-decoration: none;
    
    color: rgb(129, 195,  28);
}

.categories{
    display: flex;
    flex-direction: column;
}
.categories .category_img img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}
.categories .category_link{
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: orangered;
    font-weight: bolder;
}
.categories .category_link:hover{
    transform: scale(0.9);
    transition: 2s ease-in-out;
}

@media(min-width: 580px){
    .categories{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .categories-text{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .categories .category_img img{
        width: 200px;
        height: 150px;
        object-fit: cover;
    }
    
    
}
/* categories ends */

/* latest recipe */

#latest_recipe{
    border-top: 2px solid orangered;
    margin-top: 40px;
    padding: 20px;
}

.latest_recipe_text{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    
}
.latest_recipe_text a{
    text-decoration: none;
    color: rgb(129, 195,  28);
}
.latest_recipe{
    display: flex;
    flex-direction: column;
}
.latest_recipe .latest_recipe_img img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}
.latest_recipe .latest_recipe_link{
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: orangered;
    font-weight: bolder;
}
.latest_recipe .latest_recipe_link:hover{
    transform: scale(0.9);
    transition: 2s ease-in-out;
}

@media(min-width:580px){
    .latest_recipe{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .latest_recipe_text{
        justify-content: space-between;
        
    }
    .latest_recipe .latest_recipe_img img{
        width: 200px;
        height: 250px;
        object-fit: cover;
    }

}
/* latest recipe ends */

/* add new recipe section */

#add_new_recipe{
    margin-top: 40px;
    padding: 80px;
    background-color: orange;
}

.add_new_recipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add_new_recipe p{
    color: red;
    font-weight: bolder;
    margin-top: 10px;
    font-style: italic;
}

.add_new_recipe h1{
    text-align: center;
    font-size: 60px;
}
.add_new_recipe button{
    padding: 25px;
    background-color: orangered;
    color: whitesmoke;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    font-size: xx-large;
}

.add_new_recipe button:hover{
    background-color: white;
    color: orangered;
    font-weight: bolder;
    border-radius: 20px;
}
@media (max-width: 580px){
    #add_new_recipe{
        margin: 10px;
    }
}
/* add new recipe section end */

/* details page start */
.details_header{
    margin-top: 30px;
}

.details_header h4{
    display: inline;
    color: black;
    border-bottom: 2px solid orangered;
    padding: 10px 30px;
    margin-left: 10px;
}

.details_body{
    margin-top: 40px;
    padding: 20px 30px;
    width: 80%;
    margin: 40px auto;
}

.details_description{
    margin-top: 20px;
}

.details_description h4{
    color: black;
    border-bottom: 2px solid orangered;
    padding: 10px 30px;
    margin-left: 10px;

}

.details_description p{
    margin-top: 20px;
    margin-left: 10px;
}

@media (min-width:580px){
    .details_body{
        margin-top: 40px;
        padding: 20px 30px;
        display: flex;
        justify-content: space-around;
    }
}

.details_ingredients ul{
    list-style: none;
}

.details_ingredients ul li{
    border-bottom: 1px solid lightgray;
    color: darkgreen;
    font-size: 20px;
    padding: 10px;

}



/* recipe detail page end */

/* submit form start */

.submit_new{
    text-align: center;
    font-size: 30px;
    margin: 40px 0;
}
input[type=text], input[type=email], input[type=file], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=text]:focus, input[type=email]:focus, input[type=file]:focus, select:focus, textarea:focus{
    outline-color: orangered;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit], .button {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 6px;
}

.form-container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* clear float after the column */

.row:after{
    content: "";
    display: table;
    clear: both;
}

/* responsive layout - when the screen is less than 600px wide */

@media screen and (max-width:600px){
    .col-25, .col-75, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
}

/* submit form end */

/* footer */

footer{
    margin-top: 10px;
    padding: 10px;
    color: black;
    text-align: center;
    font-size: 20px;
}

