<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food-Recipe-website</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Tiro+Devanagari+Sanskrit:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- header area -->
        <header>
            <nav class="navbar">
                <div class="nav-brand">LOGO</div>
                <div class="toggler">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            

                <div class="nav-links">
                    <ul id="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/categories">Category</a></li>
                        <li><a href="/submitRecipe">Add New Recipe</a></li>
                    </ul>
                </div>

                <div class="searchFood">
                    <form action="/search" method="post">
                        <input type="search" name="searchRecipe" placeholder="search....">
                    </form>
                </div>


            </nav>
        </header>

        <%-body%>
        

        <!-- footer -->
        <footer>
            copy-right &copy; Karo production 2020-2025
        </footer>
        
    </div>
    <script src="js/script.js"></script>
</body>
</html>